<% provide(:title, 'Biography') %>


<div class="container container_bg">
     <div class="container_inside">
  <h1>Biography</h1>
  <table>
   <tbody>
    <tr>
     <td width="220" height="20">
	     <img src="/assets/red.jpg" width="200" height="300" alt="mio">
    	</td>
     <td height="20" valign="top">
      <h2>Mio Himemiya</h2>
      <p>
Born into an artistic family, Mio was exposed to music, art, and animation at a young age.   After graduating from Keio University, she started performing. Not only doing music, Mio had talent in design, MCing, and modeling.   She reached the 1st Rank in web voting on Myspace Japan's "Pretty Collection" contest. <br>


Mio performed and recorded in a Dark Electro duo called HimemaniK from 2007 to 2010.  They released <i>Wanna Be a Figurine</i> in 2009 and traveled to perform in Mexico in 2010.<br>
<br>
In 2011, Mio began working as a voice actress and started her solo music career as Mooma.  Working with composer, Yasufumi Watanabe, Mio wrote all the lyrics and Mooma‘s first album, <i> Ikenaiwa </i> was released in 2011.  Mooma traveled to Los Angeles to perform in 2011.<br>


In 2012, Mio was busy producing and MCing.  She produced and co-MC’ed an FM radio show entitled  <i>Mana*Mio In Radio! </i>.  In addition to that, she produced, wrote, and acted on another FM radio show called  <i>The Future Times(R) of Kawasaki Family </i>.  Mio also produced and MC’ed a Web TV show called  <i>Mirai Au Lait </i>. <br>
<br>

These days, Mio is focusing more on singing jazz.  She traveled to New York in the summer of 2014 and studied Jazz singing and performed at many jazz clubs. 
She performed with the Niza Jazz Ensemble upon her return to Japan at the Yokohama Jazz Promenade in October of 2014.

      </p>
     </td>
    </tr>
   </tbody>
  </table>
  <h2>Articles</h2>
   <a href="http://diversejapan.com/2011/09/06/interview-mio-himemiyamooma-j-pop-singersongwriter-voice-actress-race-queen/" target="_blank">Diverse Japan (English)</a><br>
   <a href="http://japanvibes.fr/?p=1754" target="_blank">Japan Vibes(French)</a>
</div>
</div>
