- provide(:title, 'Discography')
.container-fluid
  .container_bg.img-rounded.col-xs-10.col-xs-offset-1
    h1
      | Discography
    .row
      .col-xs-12.col-sm-6.col-md-7
        img.img-responsive[src="/assets/MiraiP1000.jpg" alt="Album Mirai Planetarium"]
      .col-xs-12.col-sm-6.col-md-5
        h1
          | Album 
          br
          | "Mirai Planetarium"
        p
          | Realeased on Dec 24th 2014
          br
          br
          |  artist: mooma
          br
          |  Available on 
          a[href="https://itunes.apple.com/us/album/mirai-planetarium/id952275739" target="_blank"]
            | itunes
          |  or 
          a[href="http://www.amazon.com/Mirai-Planetarium-EP-mooma/dp/B00R5GJO9K" target="_blank"]
            | amazon
