<% provide(:title, 'Discography') %>

<div class="container container_bg">
  <h1>Discography</h1>
 <table>
   <tbody>
    <tr>
     <td width="500px" height="500px">
 	    <img src="/assets/MiraiP1000.jpg" alt="Album Mirai Planetarium">
   	 </td>
   	 <td width="20"></td>
     <td valign="top">
      <h2>Album <br>"Mirai Planetarium"</h2>
      <p>
       Realeased on Dec 24th 2014<br><br>
       artist: mooma<br>
	   Available on <a href="https://itunes.apple.com/us/album/mirai-planetarium/id952275739" target="_blank">itunes</a> or 
	   <a href="http://www.amazon.com/Mirai-Planetarium-EP-mooma/dp/B00R5GJO9K" target="_blank">amazon</a> 
      </p>
     </td>
    </tr>
   </tbody>
  </table>
  
</div>