<% provide(:title, 'Discography') %>


<div>
 <h2>Discography</h2>
  <table>
   <tbody>
    <tr>
     <td width="420" height="20">
	  <a href="###" target="_blank">
 	   <img src="#.png" width="400" height="247" alt="Album Mirai Planetarium">
 	  </a>
 	 </td>
     <td height="20" valign="top">
      <h2>Album "Mirai Planetarium"</h2></h2>
      <p>
       artist: mooma<br>
	   Buy songs on <a href="###" target="_blank">itunes</a> or <a href="###" target="_blank">amazon</a> 
      </p>
     </td>
    </tr>
    