<% provide(:title, '') %>

<div class="container">
     <h1 id="home_font">Mio Himemiya Official Page</h1>
     <h1 id="home_font">Album "Mirai Planetarium" now on sale</h1>
     <center>
       <img src="/assets/MiraiP1000.jpg" width="600" height="600" alt="Album Mirai Planetarium">      
     </center>
 </div>

