- provide(:title, '')
.container
  .row
    .col-sm-12
      h1#home_font
        | Album 
        br
        | "Mirai Planetarium"
        br
        |  now on sale
  .row
    .col-sm-12.homeyoutube
      .embed-responsive.embed-responsive-16by9
        iframe[width="960" height="506" src="https://www.youtube.com/embed/DmIrCKv-wJ4?list=PL68579E69B191D52B&amp;showinfo=0" frameborder="0" allowfullscreen]
