<% provide(:title, 'Shows') %>
<!--

1番組ずつドロップダウンで選択し、詳細を表示させるようにする。

  
<div class="container-fluid">
 <div class="sidebar container_bg col-sm-4">

   <div class="btn-group">
     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Choose a show <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Radio Shows</li>
        <li><a href="#">Mana*Mio In Radio!</a></li>
        <li><a href="#">The Future Times(R) of Kawasaki Family</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Web Shows</li>
        <li><a href="#">Mirai Au Lait</a></li>
        <li><a href="#">Enjoy Mooma Tonight, too!</a></li>
        <li class="divider"></li>
        <li><a href="#">Other Shows and Gigs</a></li>
     </ul>
    </div>
 </div>
 <div class="content container_bg">
 <div class="container_inside_right">
  <h2>
   Choose the title from sidebar.
  </h2>
  </div>
</div>
-->