<% provide(:title, 'Shows') %>
<!--

1番組ずつドロップダウンで選択し、詳細を表示させるようにする。

-->
 ... </div>
  </div>
  
  
<div class="container-fluid">
 <div class="sidebar container_bg">
  <h2>Radio Shows</h2>
   <ul>
    <li>
    Mana*Mio In Radio!
   </li> 
   <li>
    The Future Times(R) of Kawasaki Family
   </li>
   <li>
    Mirai Au Lait
   </li>
   <li>
    Enjoy Mooma Tonight, too!
   </li>
   <li>
    Other Shows and Gigs
   </li>
  </ul>
 </div>
 <div class="content container_bg">
　 <table class="ta1">
    <tbody>
    　<tr>
       <td width="420" height="20">
        <a href="manamio.html" target="_blank">
	     <img src="/assets/manamio_b.jpg" width="400" height="266" alt="manamio">
	    </a>
	   </td>
       <td height="20" valign="top"> <h2>Mana*Mio In Radio!</h2>
        <p>
         <a href="manamio.html" target="_blank">Official Web Page</a><br>
         Listen to the theme song on <a href="http://youtu.be/zi2u8H9perU" target="_blank">youtube</a>
        </p>
       </td>
      </tr>

      <tr>
       <td width="420" height="20">
	    <a href="http://www.miraishimbun.jp/kawasakike/" target="_blank">
	     <img src="/assets/kawasakike.jpg" width="400" height="593" alt="kawasakike">
	    </a>
	   </td>
       <td height="20" valign="top">Mio Himemiya presents <h2>The Future Times(R) of Kawasaki Family</h2>
        <p> sponsored by <a href="http://www.miraishimbun.jp" target="_blank">The Future Times(R)</a> <br>
           <a href="http://www.miraishimbun.jp/kawasakike/" target="_blank">Official Web Page</a> <br>
	       Listen to the show on <a href="http://youtu.be/5wR_422AK0I" target="_blank">youtube</a>
	    </p>
	   </td>
      </tr>
    </tbody>
   </table>
  
<div>
 <h2>Web Shows</h2>
  <table>
   <tbody>
    <tr>
     <td width="420" height="20">
	  <a href="http://www.miraishimbun.jp/mirai-au-lait/" target="_blank">
	   <img src="/assets/mirai-au-lait.png" width="400" height="250" alt="mirai-au-lait">
	  </a>
	 </td>
     <td height="20" valign="top">StrawbeRibbon and Mio Himemiya presents <h2>Mirai Au Lait</h2> <br>
      <p>
       sponsored by <a href="http://www.miraishimbun.jp" target="_blank">The Future Times(R)</a> <br>
       <a href="http://www.miraishimbun.jp/mirai-au-lait/" target="_blank">Official Web Page</a><br>
       Watch the show on <a href="http://youtu.be/wiph6scjq8I" target="_blank">youtube</a>
      </p>
     </td>
    </tr>
   </tbody>
  </table>

  <table>
   <tbody>
    <tr>
     <td width="420" height="20">
	  <a href="https://itunes.apple.com/jp/podcast/ji-gong-mei-xuno-jin-xiaomo/id442151957?mt=2" target="_blank">
	   <img src="/assets/podcast.jpg" width="400" height="601" alt="podcast">
	  </a>
	 </td>
     <td height="20" valign="top">
      <h2>Enjoy Mooma Tonight, too!</h2> <br>
	  <p><br>
	   Listen on <a href="https://itunes.apple.com/jp/podcast/ji-gong-mei-xuno-jin-xiaomo/id442151957?mt=2" target="_blank">itunes</a>
	  </p>
	 </td>
    </tr>
   </tbody>
  </table>

 <h2>Other Shows and Gigs</h2>
  Kawasaki City Events and Web shows produced by <a href="http://bitmovie.net/" target="_blank">BITMOVIE</a></br>
  Niiza Jazz in Saitama</br>
  <a href="http://www.tuneintokyoclub.com/" target="_blank">Tune In Tokyo</a> presents Gal-loween hosted by Kimimela Gals
</div>
</div>