<% provide(:title, 'Songs') %>

<!--
1曲ずつドロップダウンで選択し、表示させるようにし、ブラウザ上でyoutubeを再生できるようにする。

-->

<div class="container-fluid">
 <div class="sidebar container_bg">

   <div class="btn-group">
     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Choose a show <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">mooma</li>
        <li><a href="#">Ikenaiwa</a></li>
        <li><a href="#">Amazing Tokio</a></li>
        <li><a href="#">A Freshwater Fish</a></li>
        <li><a href="#">Mirai Planetarium</a></li>
        <li><a href="#">Kutsuwa</a></li>
        <li><a href="#">A, Un</a></li>
        <li><a href="#">True Good Bye</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">manamio</li>
        <li><a href="#">Jitaku Kakucho Keikaku</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Collabration</li>
        <li><a href="#">Nekomance / Ultra Flesh</a></li>
        <li><a href="#">3,2,1 -FIGHT! / Ultra Flesh</a></li>
     </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <p>
     <strong>
    You can buy all the songs of mooma at <a href="https://itunes.apple.com/us/album/mirai-planetarium/id952275739" target="_blank">itunes music</a>. 
     </strong>
    </p>

 
 </div>
<!--
<div class="container-fluid">
 <div class="sidebar container_bg">
  <h2>Songs</h2>
  mooma
   <ul>
    <li>
    Ikenaiwa
   </li> 
   <li>
    Amazing Tokio
   </li>
   <li>
    A Freshwater Fish
   </li>
   <li>
    Mirai Planetarium
   </li>
   <li>
    Kutsuwa   
   </li>
   <li>
    A, Un  
   </li>
   <li>
    True Good Bye   
   </li>
  </ul>
  manamio
  <ul>
    <li>
        Jitaku Kakucho Keikaku
    </li>  
  </ul>
  Collaboration
  <ul>
      <li>
          Ultra Flesh / Nekomance
      </li>
      <li>
          
      </li>
  </ul>
 You can buy all the songs of mooma at <a href="https://itunes.apple.com/us/album/mirai-planetarium/id952275739" target="_blank">
              itunes music</a>.
 </div>
 -->
 
 <div class="content container_bg">
 <div class="container_inside_right">
  <h2>
   Choose the title from sidebar.
  </h2>
  </div>
</div>