<% provide(:title, 'Songs') %>

<!--
1曲ずつドロップダウンで選択し、表示させるようにし、ブラウザ上でyoutubeを再生できるようにする。

-->

<div class="container-fluid">
 <div class="sidebar container_bg">
  <h2>Songs</h2>
  mooma
   <ul>
    <li>
    Ikenaiwa
   </li> 
   <li>
    Amazing Tokio
   </li>
   <li>
    A Freshwater Fish
   </li>
   <li>
    Mirai Planetarium
   </li>
   <li>
    Kutsuwa   
   </li>
   <li>
    A, Un  
   </li>
   <li>
    True Good Bye   
   </li>
  </ul>
  manamio
  <ul>
    <li>
        Jitaku Kakucho Keikaku
    </li>  
  </ul>
  Collaboration
  <ul>
      <li>
          Ultra Flesh / Nekomance
      </li>
      <li>
          
      </li>
  </ul>
 You can buy all the songs of mooma at <a href="https://itunes.apple.com/us/album/mirai-planetarium/id952275739" target="_blank">
              itunes music</a>.
 </div>
 <div class="content container_bg">
  <table class="ta1">
   <tbody>
    <tr>
     <td>
      <div class="YoutubeWrapper">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/DmIrCKv-wJ4?list=PL68579E69B191D52B" frameborder="0" allowfullscreen></iframe>
      </div>
 	 </td>
     <td height="20" valign="top">
      <h2>Ikenaiwa</h2>
      <p>
       artist: mooma
      </td>
    </tr>
    
    
    <tr>
     <td width="420" height="20">
	  <div class="YoutubeWrapper">
	   <iframe width="560" height="315" src="https://www.youtube.com/embed/C4jeB7YPoLg?list=PL68579E69B191D52B" frameborder="0" allowfullscreen></iframe>
	  </div>
	 </td>
     <td height="20" valign="top">
      <h2>Amazing Tokio</h2>
      <p>
       artist: mooma
     </td>
    </tr>
    
    
    <tr>
     <td width="420" height="20">
	  <div class="YoutubeWrapper">
	   <iframe width="560" height="315" src="https://www.youtube.com/embed/dk_MHCn5eFc?list=PL68579E69B191D52B" frameborder="0" allowfullscreen></iframe>
	  </div>
	 </td>
     <td height="20" valign="top">
      <h2>A Freshwater Fish</h2>
      <p>artist: mooma
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	  <div class="YoutubeWrapper">
	   <iframe width="560" height="315" src="https://www.youtube.com/embed/g4DlK-KQmaM?list=PL68579E69B191D52B" frameborder="0" allowfullscreen></iframe>
	  </div>
	 </td>
          <td height="20" valign="top"><h2>Mirai Planetarium</h2>
            <p>artist: mooma
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	  <div class="YoutubeWrapper">
	   <iframe width="560" height="315" src="https://www.youtube.com/embed/ESsOEnEj1ag?list=PL68579E69B191D52B" frameborder="0" allowfullscreen></iframe>
	  </div>
	 </td>
          <td height="20" valign="top"><h2>Kutsuwa</h2>
            <p>artist: mooma
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	  <div class="YoutubeWrapper">
	   <iframe width="560" height="315" src="https://www.youtube.com/embed/gMMNt9Quw1I?list=PL68579E69B191D52B" frameborder="0" allowfullscreen></iframe>
	  </div>
	 </td>
          <td height="20" valign="top"><h2>A, Un</h2>
            <p>artist: mooma
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	  <div class="YoutubeWrapper">
	      <iframe width="560" height="315" src="https://www.youtube.com/embed/VEsJOT9IVz8?list=PL68579E69B191D52B" frameborder="0" allowfullscreen></iframe>
	  </div>
	 </td>
          <td height="20" valign="top"><h2>True Good Bye</h2>
            <p>artist: mooma
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	  <div class="YoutubeWrapper">
	      <iframe width="560" height="315" src="https://www.youtube.com/embed/zi2u8H9perU" frameborder="0" allowfullscreen></iframe>
	  </div>
	 </td>
          <td height="20" valign="top"><h2>Jitaku Kakucho Keikaku</h2>
            <p>artist: manamio
	</p></td>
        </tr>
      </tbody>
     </table>
    </div>