- provide(:title, 'Songs')
.container-fluid
  .sidebar.container_bg
    .btn-group
      button.btn.btn-primary.dropdown-toggle[type="button" data-toggle="dropdown"]
        |  Choose a show 
        span.caret
      ul.dropdown-menu[role="menu"]
        li.dropdown-header
          | mooma
        li
          a[href="#"]
            | Ikenaiwa
        li
          a[href="#"]
            | Amazing Tokio
        li
          a[href="#"]
            | A Freshwater Fish
        li
          a[href="#"]
            | Mirai Planetarium
        li
          a[href="#"]
            | Kutsuwa
        li
          a[href="#"]
            | A, Un
        li
          a[href="#"]
            | True Good Bye
        li.divider
        li.dropdown-header
          | manamio
        li
          a[href="#"]
            | Jitaku Kakucho Keikaku
        li.divider
        li.dropdown-header
          | Collabration
        li
          a[href="#"]
            | Nekomance / Ultra Flesh
        li
          a[href="#"]
            | 3,2,1 -FIGHT! / Ultra Flesh
    script[src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"]
    script[src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"]
    p
      strong
        |  You can buy all the songs of mooma at 
        a[href="https://itunes.apple.com/us/album/mirai-planetarium/id952275739" target="_blank"]
          | itunes music
        | . 
  .content.container_bg
    .container_inside_right
      h2
        |  Choose the title from sidebar. 
