<% provide(:title, 'Songs') %>

<!--
1曲ずつドロップダウンで選択し、表示させるようにし、ブラウザ上でyoutubeを再生できるようにする。

-->

<div>
 <h2>Songs</h2>
  <table class="ta1">
   <tbody>
    <tr>
     <td width="420" height="20">
	  <a href="http://youtu.be/DmIrCKv-wJ4?list=PL68579E69B191D52B" target="_blank">
 	   <img src="images/ikenaiwa.png" width="400" height="247" alt="Ikenaiwa">
 	  </a>
 	 </td>
     <td height="20" valign="top">
      <h2>Ikenaiwa</h2>
      <p>
       artist: mooma<br>
	   Watch MV on <a href="http://youtu.be/DmIrCKv-wJ4?list=PL68579E69B191D52B" target="_blank">youtube</a><!-- br-->
      <!-- 
	    <a href="https://itunes.apple.com/jp/artist/mooma/id467293106" target="_blank">
              https://itunes.apple.com/jp/artist/mooma/id467293106</a></p>
            <p class="price">\200</p>
-->
      </p>
     </td>
    </tr>
    
    <tr>
     <td width="420" height="20">
	  <a href="http://youtu.be/C4jeB7YPoLg?list=PL68579E69B191D52B" target="_blank">
	  <img src="images/amazing.png" width="400" height="247" alt="Amazing Tokio">
	  </a>
	 </td>
     <td height="20" valign="top">
      <h2>Amazing Tokio</h2>
      <p>
       artist: mooma<br>
	   Watch MV on <a href="http://youtu.be/C4jeB7YPoLg?list=PL68579E69B191D52B" target="_blank">youtube</a><!-- br-->
      <!-- 
	    <a href="https://itunes.apple.com/jp/artist/mooma/id467293106" target="_blank">
              https://itunes.apple.com/jp/artist/mooma/id467293106</a></p>
            <p class="price">\200</p>
-->
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	  <a href="http://youtu.be/dk_MHCn5eFc?list=PL68579E69B191D52B" target="_blank">
	  <img src="images/tansuigyo.png" width="400" height="247" alt="A Freshwater Fish">
	  </a>
	 </td>
     <td height="20" valign="top">
      <h2>A Freshwater Fish</h2>
      <p>artist: mooma<br>
	  Watch MV on <a href="http://youtu.be/dk_MHCn5eFc?list=PL68579E69B191D52B" target="_blank">youtube</a><!-- br-->
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	<a href="http://youtu.be/g4DlK-KQmaM?list=PL68579E69B191D52B" target="_blank">
	<img src="images/mirai.png" width="400" height="247" alt="Mirai Planetarium"></a></td>
          <td height="20" valign="top"><h2>Mirai Planetarium</h2>
            <p>artist: mooma<br>
	    Watch MV on <a href="http://youtu.be/g4DlK-KQmaM?list=PL68579E69B191D52B" target="_blank">youtube</a><!-- br-->
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	<a href="http://youtu.be/ESsOEnEj1ag?list=PL68579E69B191D52B" target="_blank">
	<img src="images/kutsuwa.png" width="400" height="247" alt="Kutsuwa"></a></td>
          <td height="20" valign="top"><h2>Kutsuwa</h2>
            <p>artist: mooma<br>
	    Watch MV on <a href="http://youtu.be/ESsOEnEj1ag?list=PL68579E69B191D52B" target="_blank">youtube</a><!-- br-->
      <!-- 
	    <a href="https://itunes.apple.com/jp/artist/mooma/id467293106" target="_blank">
              https://itunes.apple.com/jp/artist/mooma/id467293106</a></p>
            <p class="price">\200</p>
-->
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	<a href="http://youtu.be/gMMNt9Quw1I?list=PL68579E69B191D52B" target="_blank">
	<img src="images/a_un.png" width="400" height="247" alt="A, Un"></a></td>
          <td height="20" valign="top"><h2>A, Un</h2>
            <p>artist: mooma<br>
	    Watch MV on <a href="http://youtu.be/gMMNt9Quw1I?list=PL68579E69B191D52B" target="_blank">youtube</a><!-- br-->
      <!-- 
	    <a href="https://itunes.apple.com/jp/artist/mooma/id467293106" target="_blank">
              https://itunes.apple.com/jp/artist/mooma/id467293106</a></p>
            <p class="price">\200</p>
-->
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	<a href="http://youtu.be/VEsJOT9IVz8?list=PL68579E69B191D52B" target="_blank">
	<img src="images/hontono.png" width="400" height="247" alt="True Good Bye"></a></td>
          <td height="20" valign="top"><h2>True Good Bye</h2>
            <p>artist: mooma<br>
	    Watch MV on <a href="http://youtu.be/VEsJOT9IVz8?list=PL68579E69B191D52B" target="_blank">youtube</a><!-- br-->
      </p>
     </td>
    </tr>
    <tr>
     <td width="420" height="20">
	<a href="http://youtu.be/zi2u8H9perU" target="_blank">
	<img src="images/manamio.png" width="400" height="247" alt="Jitaku Kakucho Keikaku"></a></td>
          <td height="20" valign="top"><h2>Jitaku Kakucho Keikaku</h2>
            <p>artist: manamio<br>
	    Watch MV on <a href="http://youtu.be/zi2u8H9perU" target="_blank">youtube</a><!-- br-->
	</p></td>
        </tr>






      </tbody></table>
      
      <!-- / .post -->
    </div>