
  <% if @contact.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>There're any errors!</strong>
      <ul>
        <% @contact.errors.each do |attr, msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 