.btn-group
  button.btn.btn-primary.dropdown-toggle[type="button" data-toggle="dropdown"]
    |  Choose a song 
    span.caret
  ul.dropdown-menu[role="menu" aria-labelledby="dropdownMenu"]
    li.dropdown-header
      |  mooma
    li
      a[tabindex="-1" href="/songs/1"]
        | Ikenaiwa
    li
      a[tabindex="-1" href="/songs/2"]
        | Amazing Tokio
    li
      a[tabindex="-1" href="/songs/3"]
        | A Freshwater Fish
    li
      a[tabindex="-1" href="/songs/4"]
        | Mirai Planetarium
    li
      a[tabindex="-1" href="/songs/5"]
        | Kutsuwa
    li
      a[tabindex="-1" href="/songs/6"]
        | A, Un
    li
      a[tabindex="-1" href="/songs/7"]
        | True Good Bye
    li.divider
    li.dropdown-header
      |  ManaMio
    li
      a[tabindex="-1" href="/songs/8"]
        | Jitaku Kakuchou Keikaku
    li.divider
    li.dropdown-header
      |  Collaboration
    li
      a[tabindex="-1" href="/songs/9"]
        | Nekomance
    li
      a[tabindex="-1" href="/songs/10"]
        | 3, 2, 1, FIGHT!
