        <div class="btn-group">
     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Choose a song <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            
        <li class="dropdown-header">&nbsp;mooma</li>
        <li><a tabindex="-1" href="/songs/1">Ikenaiwa</a></li>
        <li><a tabindex="-1" href="/songs/2">Amazing Tokio</a></li>
        <li><a tabindex="-1" href="/songs/3">A Freshwater Fish</a></li>
        <li><a tabindex="-1" href="/songs/4">Mirai Planetarium</a></li>
        <li><a tabindex="-1" href="/songs/5">Kutsuwa</a></li>
        <li><a tabindex="-1" href="/songs/6">A, Un</a></li>
        <li><a tabindex="-1" href="/songs/7">True Good Bye</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">&nbsp;ManaMio</li>
        <li><a tabindex="-1" href="/songs/8">Jitaku Kakuchou Keikaku</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">&nbsp;Collaboration</li>
        <li><a tabindex="-1" href="/songs/9">Nekomance</a></li>
        <li><a tabindex="-1" href="/songs/10">3, 2, 1, FIGHT!</a></li>
     </ul>
    </div>