- provide(:title, 'Songs')
.container-fluid
  .col-sm-10.col-sm-offset-1
    .row
      .col-sm-2
        = render 'songs/sidebar'
      .container_bg.img-rounded.col-sm-9
        = render 'songs/result'
