@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  background: url(/assets/MiraiP1024.jpg) center center / cover no-repeat fixed;
  padding-top: 60px;
}

.container-fluid > .sidebar {
  float: left;
  width: 220px;
}
.container-fluid > .content {
  float: left;
  min-width: 700px;
  max-width: 1180px;
  margin-left: 20px;
}

.container_bg {
  background-color: rgba(255,255,255,0.75);
  padding-bottom: 100px;
}


.container > .container_inside {
  padding: 20px;
}



section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* topページのフォント */
h1#home_font {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* header */

#logo {
  font-family: 'Dancing Script', cursive; /* できてない。　*/
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* youtube */
.YoutubeWrapper{
　position: relative ;
　margin-top: 1.2em ;
　margin-bottom: 1.2em ;
　padding-top: 69px ;
　padding-bottom: 50% ;
　overflow: hidden ;
}
 
.YoutubeWrapper iframe {
　position: absolute ;
　top: 0 ;
　left: 0 ;
　height: 100% ;
　width: 100% ;
}
