@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  background: url(/assets/MiraiP1024.jpg) center center / cover no-repeat fixed;
  padding: 60px 0 120px 0;
  @font-face {
    font-family: Palatino Linotype, Sylfaen, Book Antiqua; //だめですな…
    font-weight:normal;
  }
}
  
.container-fluid > .sidebar {
  float: left;
}
.container-fluid > .content {
  float: left;
  margin-left: 20px;
}

.container_bg {
  background-color: rgba(255,255,255,0.75);
  padding: 40px 40px 120px 40px;
}

.img-result {
  max-width: 320px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* topページのフォント */
h1#home_font {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Palatino Linotype;
  font-size: 5em;
  line-height: 1;
}

/* topページのyoutube */
.homeyoutube {
  margin: 0;
}


/* header */

a#logo {

  float: left;
  margin-right: 10px;
  font-size: 3em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  line-height: 1;
  font-family: Palatino Linotype;
  text-decoration: none;
  display: block;
}

#menu{
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0;
}
#menu li{
  display: block;
  float: left;
  width: 15%;
  margin: 0;
  padding: 0; }
#menu li a{
  display: block;
  padding: 12px 0 10px;
  background: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
#menu li a:hover{
  background: #444;
}
#menu li#fb{
  padding: 10px;
}

#toggle{ 
 display: none;
}
/*@media only screen and (max-width: 1200px) {
    #menu li{
    width: 30%;
  }
*/  
    /* topページのフォント */
/*h1 {
  font-size: 200%;
  }

}*/

/*@media only screen and (max-width: 480px) {
  #menu{
    display: none;
  }
  #menu li{
    width: 100%;
  }
  #toggle{
    display: block;
    position: relative;
    width: 100%;
    background: #222;
  }
  #toggle a{
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  #toggle a:before, #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #222;
  }
  #toggle a:before{
    margin-top: -6px;
  }
  #toggle a:after{
    margin-top: 2px;
  }
}

*/    
    
/* youtube */

.video-wrap {
  position: relative;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  padding-top: 69px;
  padding-bottom: 50%;
  overflow: hidden;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
