   <div class="btn-group">
     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Choose a show <span class="caret"></span>
     </button>
     <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            
        <li class="dropdown-header">&nbsp;Radio Shows</li>
        <li><a tabindex="-1" href="/shows/1">Mana*Mio In Radio!</a></li>
        <li><a tabindex="-1" href="/shows/2">The Future Times(R) of Kawasaki Family</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">&nbsp;Web Shows</li>
        <li><a tabindex="-1" href="/shows/3">Mirai Au Lait</a></li>
        <li><a tabindex="-1" href="/shows/4">Enjoy Mooma Tonight, too!</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">&nbsp;Other Shows and Gigs</li>
        <li><a href="/shows/5">Gal-loween</a></li>
        <li><a href="/shows/6">Kawasaki City Events and Web Shows</a></li>
     </ul>
    </div>