.btn-group
  button.btn.btn-info.dropdown-toggle[type="button" data-toggle="dropdown"]
    |  Choose a show 
    span.caret
  ul.dropdown-menu[role="menu" aria-labelledby="dropdownMenu"]
    li.dropdown-header
      |  Radio Shows
    li
      a[tabindex="-1" href="/shows/1"]
        | Mana*Mio In Radio!
    li
      a[tabindex="-1" href="/shows/2"]
        | The Future Times(R) of Kawasaki Family
    li.divider
    li.dropdown-header
      |  Web Shows
    li
      a[tabindex="-1" href="/shows/3"]
        | Mirai Au Lait
    li
      a[tabindex="-1" href="/shows/4"]
        | Enjoy Mooma Tonight, too!
    li.divider
    li.dropdown-header
      |  Other Shows and Gigs
    li
      a[href="/shows/5"]
        | Gal-loween
    li
      a[href="/shows/6"]
        | Kawasaki City Events and Web Shows
