<% provide(:title, 'Shows') %>
<div class="container">
 <div class="row-fluid">
 <div class="sidebar container_bg span3">
  <%= render 'shows/sidebar' %>
 </div>
 
 <div class="content container_bg span9">
  <h2>
   Choose a show title from sidebar.
  </h2>

  </div>
</div>
</div>  


<!--<div class="container container-fluid">
 <div class="sidebar container_bg col-sm-3">
  <%#= render 'shows/sidebar' %>
 </div>
 
 <div class="content container_bg">
 <div class="col-sm-5">
  <h2>
   Choose a show title from sidebar.
  </h2>
  -->